.generator-output {
  width: 100%;

  &__product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__shape {

      &--occasional1 {
        width: 763px;
        height: 480px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../../../../../images/product_background/option1.png);
        color: white;
        border-radius: 15px;

        .header {
          display: flex;
          flex-direction: column;

          h1 {
            font-size: 48px;
          }

          h2 {
            font-size: 32px;
          }
        }

        .content {
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            width: 63%;
            font-size: 24px;
            color: rgb(49, 49, 128);
          }
        }

        .signature {
          display: flex;
          flex-direction: column;
          align-items: end;

          h3 {
            font-size: 24px;
            font-family: "Dancing Script", cursive;
          }
        }
      }
      &--occasional2 {
        width: 763px;
        height: 480px;
        padding: 30px 30px 25px 30px;
        background-image: url(../../../../../images/product_background/option2.png);
        color: white;
        font-family: 'Comfortaa', cursive;

        .header {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;

          h1 {
            font-size: 64px;
            margin-bottom: 5px;
          }

          h2 {
            font-size: 24px;
            margin-left: 5px;
          }
        }

        .content {
          width: 100%;
          text-align: center;
          margin-top: 35px;

          p {
            font-size: 24px;
            text-align: justify;
          }
        }

        .signature {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 55px;

          h3 {
            font-size: 24px;
            font-family: "Dancing Script", cursive;
          }
        }
      }
      &--occasional3 {
        width: 550px;
        height: 763px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-image: url(../../../../../images/product_background/option3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-family: 'Tsukimi Rounded', sans-serif;

        .header {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 25px;

          h1 {
            font-size: 64px;
            margin-bottom: 5px;
          }

          h2 {
            font-size: 24px;
            margin-left: 5px;
          }
        }

        .content {
          text-align: center;

          p {
            font-size: 24px;
          }
        }

        .signature {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 130px;

          h3 {
            font-size: 24px;
            font-family: "Dancing Script", cursive;
          }
        }
      }
    }
  }
}
